{% extends 'base.html' %} {% load crispy_forms_tags %} 
{% block title %} calculate distance {% endblock title %} {% block content %}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-10">
            {% include 'includes/messages.html' %}
            <br />
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Travelling from </h5><p>{{ destination.location }} to  {{ destination.destination}}</p>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Total distance covered is {{ distance }} km</h6>
                    <p class="card-text">Service fee: R{{cost|floatformat:2}}</p>
                    <a href="#" class="card-link">For {{user.first_name}} {{ user.last_name}} </a>
                    <h6 class="card-subtitle mb-2 mt-2 text-muted">Additional Info</h6>
                    <ul>
                        <li>Date: {{user.pickup_date|date}} at {{user.pickup_date|time}}</li>
                        <li>Helpers: {% if helper_cost %} R{{helper_cost|floatformat:2}}  {% else %} No Helpers {% endif %}</li>
                        <li>Floors: {% if floors_cost %} R{{floors_cost|floatformat:2}}  {% else %} None {% endif %}</li>
                    </ul>
                    <p class="card-text">Total Service fee: R{{total_cost|floatformat:2}}</p>
                    <a href="{% url 'export_quote' user.id %}" class="btn btn-success" target="_blank"> Create Quote</a>
                </div>
            </div>
            <br/>
        </div>
        
    </div>
    <div class="col-md-10 mb-4">
        {{ map|safe }}
    </div>
</div>


{% endblock content %}
