{% extends 'base.html' %} {% load crispy_forms_tags %} 
{% block title %} Manage orders {% endblock title %} 
{% block header %} {% include 'includes/header.html' %} {% endblock header%}

{% block content %}
<!-- breadcrumb-area -->
<div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb-content">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="dots"></li>
                          <li class="breadcrumb-item"><a href="/">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Manage orders</li>
                          <li class="dots2"></li>
                      </ol>
                  </nav>
                  <h2>My Orders</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- breadcrumb-area-end -->

<!-- orders-area -->
<section class="blog-area blog-bg pt-120 pb-120">
  <div class="container">
      <div class="row blog-active">
        {% for item in obj %}
          <div class="col-lg-4 col-md-6 grid-item">
              <div class="single-blog-post s-single-blog-post mb-45">
                  <div class="blog-content">
                    <h4><a href="{{ item.get_absolute_url }}">Travel Distance {{ item.location.distance }}km</a></h4>
                      <div class="blog-meta">
                          <ul>
                              <li>Pick-up Date: {{ item.pickup_date|date }} @{{ item.pickup_date|time }}</li>
                          </ul>
                      </div>
                      <p>Pick-up: {{ item.location.location }} - Destination: {{ item.location.destination }}</p>
                      <a href="{{ item.get_absolute_url }}">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
  </div>
</section>
<!-- orders-area-end -->


{% endblock content %}
