{% extends 'base.html' %} {% load crispy_forms_tags %} 
{% block title %} Single Order {{ obj.first_name}} {% endblock title %} 
{% block header %} {% include 'includes/header.html' %} {% endblock header%}

{% block content %}

<!-- breadcrumb-area -->
<div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="dots"></li>
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/orders/">Orders</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Order</li>
                            <li class="dots2"></li>
                        </ol>
                    </nav>
                    <h2>{{obj.first_name}}'s Order</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- services-details -->
<div class="services-details-area pt-120 pb-115">
    <div class="container">
        {% include 'includes/messages.html' %}
        <div class="services-details-wrap">
            <div class="row">
                <div class="col-lg-4 order-2 order-lg-0">
                    <aside class="services-sidebar">
                        <div class="services-widget mb-40">
                            <div class="service-doc-list">
                                <ul>
                                    <li><a href="{% url 'export_quote' user.id %}" target="_blank"> Generate Quote<i class="fas fa-file-pdf"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-8">
                    <div class="services-details-content">
                        <h4>Travelling from {{ obj.location.location }} to  {{ obj.location.destination}}</h4>
                        <h4>Additional Info</h4>
                        <p>Customer Details: {{obj.first_name}} {{ obj.last_name}}</p>
                        <div class="services-details-list">
                            <ul>
                                <li><i class="fas fa-arrow-alt-circle-right"></i>Date: {{obj.pickup_date|date}} at {{obj.pickup_date|time}}</li>
                                <li><i class="fas fa-arrow-alt-circle-right"></i>Helpers: {% if helper_cost %} R{{helper_cost|floatformat:2}}  {% else %} No Helpers {% endif %}</li>
                                <li><i class="fas fa-arrow-alt-circle-right"></i>Floors: {% if floors_cost %} R{{floors_cost|floatformat:2}}  {% else %} None {% endif %}</li>
                                <li><i class="fas fa-arrow-alt-circle-right"></i>Total Service Fees: R{{total_cost|floatformat:2}}</li>
                            </ul>
                        </div>
                        <div class="services-details-img">
                            {{ map|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services-details-end -->

{% endblock content %}
