{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} calculate distance {% endblock title%} {% block content %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form action="/customer_form/" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">{{form|crispy}}</div>
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mb-3">
            <h2>Create a new request</h2>
            <br />
            <form>
                <div class="form-group mt-5">
                    <div class="row">
                        <div class="col-md-4">
                        <input 
                            type="text"
                            name="pick_up"
                            class="form-control"
                            placeholder="Pick Up Location"
                        />
                        </div>
                        <div class="col-md-4">
                        <input
                            type="text"
                            name="destination"
                            class="form-control"
                            placeholder="Destination"
                        />
                        </div>
                        <div class="col-md-6 mt-4">
                        <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% if distance %}
        <div class="col-md-6 mb-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Travelling to {{ destination }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Total distance covered is {{ distance }} km</h6>
                    <p class="card-text">Cost for delivery is: R{{cost|floatformat:2}}, charged at R5.50/km</p>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Customer</button>
                </div>
            </div>
            {% endif %} {% if map_html %}
            {{ map_html|safe }} {% endif %} 
        </div>
    </div>
</div>
{% endblock content %}
