{% load static %}
<footer>
    <div class="footer-wrap pt-190 pb-40" data-background="{% static 'img/bg/footer_bg.jpg' %}">
        
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="copyright-text">
                        <p>Copyright© <span>DevFix Solutions </span> | All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    {% comment %} <div class="f-payment-method text-center text-md-right">
                        <img src="{% static' img/images/card_img.png' %}" alt="img">
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</footer>