{%load static%}
<!-- header-start -->
<header class="transparent-header s-transparent-header">
    <div class="third-header-top d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="third-logo">
                        <a href="/"><img src="{% static 'img/logo/devfix_white.png' %}" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="third-header-contact">
                        <div class="third-header-form">
                            
                        </div>
                        <div class="third-hrader-contact-list">
                            <ul>
                                <li>
                                    <div class="thc-icon">
                                        <i class="fas fa-headphones"></i>
                                    </div>
                                    <div class="thc-content">
                                        <p><span>Call :</span> +2783 411 7035</p>
                                        <p><span>Email :</span> info@devfix.co.za</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thc-icon">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <div class="thc-content">
                                        <p>Logistics Avenue</p>
                                        <p>Roodepoort</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-sticky" class="main-header third-main-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">
                    <div class="logo">
                        <a href="/"><img src="{% static 'img/logo/devfix.png' %}" class="mobile-logo logo-none" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6 d-none d-md-block">
                    <div class="menu-area">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="active"><a href="/">Home</a>
                                    </li>
                                    <li><a href="support.html">Support</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-start-end -->