{% load static %}
<header>
  <div id="header-sticky" class="main-header transparent-header">
      <div class="container-fluid header-container-p">
          <div class="row align-items-center">
              <div class="col-lg-3 col-md-6">
                  <div class="logo">
                      <a href="/"><img src="{% static 'img/logo/devfix.png' %}" class="mobile-logo logo-sticky-none" alt="Logo"></a>
                      <a href="/"><img src="{% static 'img/logo/devfix.png' %}" class="mobile-logo s-logo-none" alt="Logo"></a>
                  </div>
              </div>
              <div class="col-lg-9 col-md-6 d-none d-md-block">
                  <div class="menu-area">
                      <div class="main-menu">
                          <nav id="mobile-menu">
                              <ul>
                                  <li class="active"><a href="/">Home</a>
                                  </li>
                                  <li><a href="support.html">Support</a></li>
                              </ul>
                          </nav>
                      </div>
                      <div class="header-search">
                          <!--<a href="#" data-toggle="modal" data-target="#search-modal"><i class="flaticon-magnifying-glass"></i></a> -->
                      </div>
                      <div class="header-btn">
                          <a href="#request-section" class="btn"><img src="{% static 'img/icon/calculator-symbols.png' %}" alt="icon">Get Fare Rate</a>
                      </div>
                  </div>
              </div>
              <div class="col-12">
                  <div class="mobile-menu"></div>
              </div>
          </div>
      </div>
  </div>
</header>